@model Article
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<section class="single-post spad">
    <div class="single-post__hero set-bg" data-setbg="/foodeiblog-master/img/categories/single-post/single-post-hero.jpg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="single-post__title">
                    <div class="single-post__title__meta">
                        <h2>@ViewBag.createdData.ToString("dd")</h2>
                        <span>@ViewBag.createdData.ToString("MMM")</span>
                    </div>
                    <div class="single-post__title__text">
                        <ul class="label">
                            <li>@ViewBag.categoryName</li>
                        </ul>
                        <h4>@ViewBag.title</h4>
                        <ul class="widget">
                            <li>By @ViewBag.userName</li>
                            <li>3 min read</li>
                            <li>@ViewBag.commentCount Yorum</li>
                        </ul>
                    </div>
                </div>
               
                <div class="single-post__top__text">
                    <p>@ViewBag.detail</p>
                </div>
                <div class="single-post__tags">
                    <a href="#">Food</a>
                    <a href="#">Vegan</a>
                    <a href="#">Tomato</a>
                    <a href="#">Weightloss</a>
                </div>
                
                <div class="single-post__author__profile">
                    <div class="single-post__author__profile__pic">
                        <img src="~/foodeiblog-master/img/categories/single-post/author-profile.jpg" alt="">
                    </div>
                    <div class="single-post__author__profile__text">
                        <h4>Lena Mollein.</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div class="single-post__author__profile__social">
                            @await Component.InvokeAsync("_SocialMediaFooterComponentPartial")
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("_CommentListByBlogComponentsPartial")
                <div class="single-post__leave__comment">
                    <div class="widget__title">
                        <h4>Yorum Yap</h4>
                    </div>
                    <form id="commentForm">
                        <input id="inpArticleId"  type="hidden" value="@ViewBag.Id">
                        <div  class="input-list">
                            <input type="text" placeholder="Ad Soyad" id="inpName">
                        </div>
                        <textarea placeholder="Yorumuzunu yazınız." id="inpMessage"></textarea>
                        <button type="button" id="commentSubmit" class="site-btn">Gönder</button>
                    </form>
                    <div id="liveAlertPlaceholder"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
     <script>
        $("#commentSubmit").click(function () {
            let values = {
                NameSurname: $("#inpName").val(),
                Description: $("#inpMessage").val(),
                ArticleId: $("#inpArticleId").val()
            };


            $.ajax({
                type: "Post",
                url: "/Blog/AddComment/",
                data: values,
                success: function (response) {
                    toastr.success(response.message, { tapToDismiss: true });

                    var successAlert = $('<div class="alert alert-success alert-dismissible fade show" role="alert">Yorum başarıyla eklendi. Onaylandıktan sonra sayfada yayınlanacaktır.</div>');
                    $('#liveAlertPlaceholder').append(successAlert);

                    // commentForm'u sakla
                    $("#commentForm").hide();

                    // Mesajı formun parent elementine ekle
                    $("#formContainer").append(successAlert);

                },
                error: function (xhr) {
                    let errorMessage = xhr.responseJSON.error;

                    toastr.error(errorMessage, { tapToDismiss: true });
                }
            });
        });
    </script>

}