@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<section class="single-post spad">
    <div class="single-post__hero set-bg" data-setbg="/foodeiblog-master/img/categories/single-post/single-post-hero.jpg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="single-post__title">
                    <div class="single-post__title__meta">
                        <h2>@ViewBag.createdData.ToString("dd")</h2>
                        <span>@ViewBag.createdData.ToString("MMM")</span>
                    </div>
                    <div class="single-post__title__text">
                        <ul class="label">
                            <li>@ViewBag.categoryName</li>
                        </ul>
                        <h4>@ViewBag.title</h4>
                        <ul class="widget">
                            <li>by Admin</li>
                            <li>3 min read</li>
                            <li>20 Comment</li>
                        </ul>
                    </div>
                </div>
                <div class="single-post__social__item">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="single-post__top__text">
                    <p>@ViewBag.detail</p>
                </div>
                <div class="single-post__tags">
                    <a href="#">Food</a>
                    <a href="#">Vegan</a>
                    <a href="#">Tomato</a>
                    <a href="#">Weightloss</a>
                </div>
                
                <div class="single-post__author__profile">
                    <div class="single-post__author__profile__pic">
                        <img src="~/foodeiblog-master/img/categories/single-post/author-profile.jpg" alt="">
                    </div>
                    <div class="single-post__author__profile__text">
                        <h4>Lena Mollein.</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div class="single-post__author__profile__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("_CommentListByBlogComponentsPartial")
                <div class="single-post__leave__comment">
                    <div class="widget__title">
                        <h4>Leave a comment</h4>
                    </div>
                    <form action="#">
                        <div class="input-list">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Website">
                        </div>
                        <textarea placeholder="Message"></textarea>
                        <button type="submit" class="site-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>